body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 62.5%;
}
.App {
  /* background-image: url("./back.jfif"); */
  background-size: cover;
  /* z-index: -1; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
  justify-content: center;
  align-content: center;
  transition: all 0.6s ease;
}
.showfact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-direction: column;
  padding-right: 3rem;
}
.about-title {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: rgb(13, 4, 34);
  background-color: rgb(8, 241, 144);
  font-size: 2.8rem;
  margin: 1rem;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0.5rem;
  margin: 0 2rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.774);
  /* padding-right: 1rem; */
}

.card {
  max-width: 60rem;
}

.box3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.img,
.factimg {
  width: 20rem;
  height: 30rem;
  border-radius: 0.8rem;
  transition: all 0.6s ease;
}

.img:hover {
  transform: scale(1.01);
}
.fact1 {
  align-self: flex-start;
  font-size: 1.8rem;
}
.anime-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.random {
  font-size: 2rem;
  cursor: pointer;
  border: none;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background-color: rgb(238, 255, 0);
}

.facts {
  float: right;
  padding: 0.5rem 1.5rem;
  color: white;
  background-color: rgb(144, 52, 230);
}

.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  border: 2px solid rgb(53, 53, 51);
  margin: 2rem;
  padding: 2rem;
  margin-left: 4rem;
  border-radius: 1rem;
  padding-bottom: 3rem;
  box-shadow: 5px 10px 10px rgba(255, 255, 255, 0.301);
  background-color: rgba(255, 255, 255, 0.774);
  transition: all 0.3s ease;
}

.box2:hover {
  box-shadow: 5px 30px 30px rgba(255, 255, 255, 0.301);
  transform: scale(1.01);
}

@media (max-width: 60rem) {
  .App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  html {
    font-size: 55%;
  }
.list {
margin : 1rem;
padding : 1rem;
}


}
